DB_NAME={{ app_db_name }}
DB_USERNAME={{ vault_app_db_username }}
DB_PASSWORD={{ vault_app_db_password }}
DB_HOSTNAME={{ vault_app_db_hostname }}
RAILS_MASTER_KEY={{ vault_app_rails_master_key }}
RAILS_LOG_TO_STDOUT={{ app_log_to_stdout }}
PORT={{ app_port }}
APP_S3_ACCESS_KEY_ID={{ vault_app_s3_access_key_id }}
APP_S3_SECRET_ACCESS_KEY={{ vault_app_s3_secret_access_key }}

