<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>

    <%# <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %1> %>
    <%# <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %1> %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
